@media (min-width: $size__breakpoint-small) {
	.topBar {
		display: none;		
	}

	.site-header {
		border-bottom: 1px solid #fff;
		height: 85px;
		width: 100%;
		position: absolute;
		z-index: 10;
	}

	.site-branding {
		h1 {
			margin: 0;
		}
		.site-title {
			margin-top: 17px;
			display: block;
		}
	}

	.header-cover {	
		padding-top: 200px;
		min-height: 400px; 
		background-repeat: no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.home & {
			padding-top: 18%;
			height:100vh;
		}
	}
}

@media (min-width: $size__breakpoint-large) {
	.topBar {
		display: block;
		height: 30px;
		background-color: #FFF;
		color: #999;
		.topBar-container {
			width: 485px;
			float: right;
			font-size: 14px;
			line-height: 2em;
			img, span {
				float: left;
			}
			&:after {
				content: ""; 
				clear: both;
				display: block;
			}
			.topBar-phone-img {
				position: relative;
				top: 7px;
				margin-right: 5px; 
			}
			.topBar-email-img {
				margin-left: 50px; 
				margin-right: 5px; 
				position: relative;
				top: 8px;
			}		
		}
	}
	.site-header {
		height: 116px;
	}
}