@media (min-width: $size__breakpoint-small) {
	.passeios-turisticos-single,
	.passeios-turisticos-archive {
		.passeios-turisticos-title {
			h1, h2 {
				color: #FFF;
				text-align: center; 
				margin: 0;
			}
			h1 {
				text-transform: uppercase;
			}
			h2 {
				font-weight: 100;
			}
		}
	}
	.passeios-turisticos-single {
		.scrollFixedOn {
			position: fixed !important;
			top: 10px;
			background-color: #FFF;
			.container {
				position: relative;
			}
			&.passeios-turisticos-sidebar {
				right: 0;
			}
		}
		.line-fix-container {
			display: none;
		}		
		.passeios-turisticos-main {
			width: 100%;
			float: left;
			.passeios-turisticos-topBar {
				&:after {
					content: ""; 
					clear: both;
					display: block;
				}
				.topBarItem {
					width: 100%;
					float: left; 					
					.topBarItem-img {
						float: left;
						img {
							padding: 20px;
						}
					}
					.topBarItem-content {
						float: left;
						.topBarItem-content-title {
							margin-top: 20px;
							font-size: 16px;
							font-weight: 400; 
							color: #444; 
						}
						.topBarItem-content-description {
							font-size: 20px;
							font-weight: 400; 
							color: $color__site-main;
							.priceEmpty {
								color: #999;
							}
						}
					}
				}
			}
		}
		.passeios-turisticos-sidebar {
			width: 100%;
			float: left;
			margin-bottom: 20px;
			.passeios-turisticos-form {
				.passeios-turisticos-form-box {
					height: 92px;
					overflow: hidden;
					border-top: 1px solid #999;
					border-left: 1px solid #999;
					border-right: 1px solid #999;
					.passeios-turisticos-form-img {
						float: left;
						img {
							padding: 20px;
						}
					}
					.passeios-turisticos-form-content {
						float: left;
						.passeios-turisticos-form-title {
							margin-top: 20px;
							font-size: 16px;
							font-weight: 400; 
							color: #444; 
							b {
								display: block;
								font-size: 24px;
								color: $color__site-secondary; 
							}
						}
					}
				}	
				.passeios-turisticos-form-gravity {
					border: 1px solid #999;
					padding: 20px; 
					.passeios-turisticos-form-description {
						font-size: 14px;
						font-weight: 400; 
						color: #999;
						clear: both;
						margin-bottom: 10px;
					}
					.gform_wrapper {
						ul {
							margin: 0;
							padding: 0;
							.gfield_label {
								font-weight: 400;
								font-size: 13px;
								margin-bottom: 10px;
							}
							input {
								width: 100%;
								border-radius: 0;
								margin-bottom: 10px;
								& ~ label {
									display: none;
								}
							}							
						}
						.gform_button {
							width: 100%;
							color: #FFF;
							text-transform: uppercase; 
							border-radius: 0px;
							border: 0px;
							font-weight: 400;
							font-size: 16px;
							padding: 15px 30px;
							margin-top: 20px;    
						}
					}
				}				
			}
		}
		.passeios-turisticos-content {
			margin: 20px 0;
			padding-right: 20px;
			color: #999;
			h3, h4 {
				color: $color__site-main; 
			}
			h3 {
				font-size: 30px;
				margin-bottom: 20px;
				font-weight: 400;
				text-transform: uppercase; 
			}
			h4 {
				font-size: 24px;
				margin: 15px 0;
				font-weight: 100;  
			}
		}
		.passeios-turisticos-advantages {
			background-color: #ededed; 
			padding: 60px 0;
			.passeios-turisticos-advantages-title {
				text-transform: uppercase;
				color: $color__site-main;
				font-weight: 400;
				font-size: 30px;
				margin-bottom: 20px; 
			}
			.row {
				clear: both;
			}
			.passeios-turisticos-advantages-item {
				width: 100%;
				float: left;
				margin-bottom: 20px;
				.passeios-turisticos-advantages-icon,
				.passeios-turisticos-advantages-text {
					float: left;				
				}
				.passeios-turisticos-advantages-icon {
					padding-right: 20px;
				}
				.passeios-turisticos-advantages-text {
					width: 70%;
					padding-right: 20px;
					margin-top: 2px;
					h4 {
						margin: 0;
					}				
					&:after {
						content: ""; 
						clear: both;
						display: block;
					}
				}	
			}			
		}
	}
	.passeios-turisticos-archive {
		.header-cover {
			margin-bottom: 20px;
		}
		.row {
			clear: both;
			&:after {
				content: ""; 
				clear: both;
				display: block;
			}
		}
		article.passeios_turisticos {
			height: 300px;
			width: 100%;
			float: left; 
			overflow: hidden;
			margin: 0;
			margin-bottom: 10px;
			.passeios-turisticos-container {
				height: 300px;
				background-size: cover;
				background-position: center center;
				position: relative;
				margin: 0;
				&:hover .entry-header {
					height: 100%;
					padding-top: 220px;
					.passeios-turisticos-button {
						padding-top: 9px;
						background-color: $color__site-secondary;
						border: 0; 
					}				
				}
				.entry-header {
					width: 100%;
					height: 95px;
					position: absolute;
					bottom: 0;
					background-color: rgba(0,0,0,.5);
					padding: 15px;
					-webkit-transition: all .3s; 
					-moz-transition: all .3s; 
					-ms-transition: all .3s; 
					-o-transition: all .3s; 
					transition: all .3s; 					
					.passeios-turisticos-text {
						width: 65%;						
						padding-right: 10px;
						float: left;
						h2, h3 {
							font-size: 14px;
							line-height: 1.3em;
							color: #FFF;
							font-weight: 100;
							margin: 0;
						}
					}
					.passeios-turisticos-button {
						width: 35%;
						max-width: 140px;
						height: 45px;
						border: 1px solid #FFF;  
						float: right;
						text-align: center;
						color: #FFF;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 400;
						padding-top: 8px;
						margin-top: 10px;
						-webkit-transition: background-color .3s; 
						-moz-transition: background-color .3s; 
						-ms-transition: background-color .3s; 
						-o-transition: background-color .3s; 
						transition: background-color .3s; 						
					}
				}
			}
		}
	}
}

@media (min-width: $size__breakpoint-medium) {
	.passeios-turisticos-single {
		.passeios-turisticos-main {
			.passeios-turisticos-topBar {
				.topBarItem {
					width: 33.33%;
					border-bottom: 1px solid #999;
					border-left: 1px solid #999;
					&:first-child {
						border-left: 0; 
					}
				}
			}
		}
	}
	.passeios-turisticos-archive {
		article.passeios_turisticos {
			.passeios-turisticos-container {
				.entry-header {
					.passeios-turisticos-text {
						h2, h3 {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $size__breakpoint-large) {
	.passeios-turisticos-single {
		.passeios-turisticos-title {
			h1 {
				font-size: 44px; 
			}
			h2 {
				font-size: 30px; 
			}
		}
		.line-fix-container {
			position: relative;
			display: block;
			.line-fix {
				position: absolute;
				bottom: -92px;
				width: 100%;
				display: block;
				border-bottom: 1px solid #999;
			}
		}
		.passeios-turisticos-main {
			width: 75%;
			.passeios-turisticos-topBar {
				height: 92px;
				overflow: hidden;
				.topBarItem {
					border-bottom: 0;
					&:first-child {
						border-left: 1px solid #999; 
					}
				}
			}
		}
		.passeios-turisticos-sidebar {
			width: 25%;
			.passeios-turisticos-form {
				.passeios-turisticos-form-box {
					border-top: 0px;
				}
				.passeios-turisticos-form-gravity {
					border-top: 0px;
				}
			}
		}
		.passeios-turisticos-advantages {
			.container {
				padding-right: 330px;
			}
			.passeios-turisticos-advantages-item {
				width: 50%;
				.passeios-turisticos-advantages-text {
					width: 80%;
				}	
			}			
		}
	}
	.passeios-turisticos-archive {
		article.passeios_turisticos {
			width: 33.33%;
			margin-bottom: 15px;
			.passeios-turisticos-container {
				margin: 0 5px; 
				&-1 {margin: 0 10px 0 0;}
				&-3 {margin: 0 0 0 10px;}
			}
		}
	}
}

@media (min-width: $size__breakpoint-xlarge) {
	.passeios-turisticos-archive {
		article.passeios_turisticos {
			margin-bottom: 30px;
			.passeios-turisticos-container {
				margin: 0 10px; 
				&-1 {margin: 0 20px 0 0;}
				&-3 {margin: 0 0 0 20px;}
				.entry-header {
					padding: 15px 30px;
				}
			}
		}
	}
}